*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;  
    background-color: #132235;
    color: white;
    flex-direction: row; 
    align-items: center;
    position: fixed;
    width: 100%; 
    padding: 10px;
}
.imagem-logo{
height: 80px;
}
.imagem-logo-casa{
    height: 60px;
    width: 70px; 
    padding: 20px;  
}
.menu{
  
}
h3{
     color: white;
}
button{
    border-color: #132235;
    background-color: #132235;
    text-decoration: none;
    color: white;
}
